html,
body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;

    font-family:'Segoe UI',sans-serif;
    background:#f5f7fb;
    color:#333;
}

/* Navbar */

.navbar{
    background:#0f172a !important;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    background:linear-gradient(
    135deg,
    #2563eb,
    #0f172a
    );
    color:white;
    padding:80px 0;
}

.hero-img{
    max-height:450px;
    object-fit:cover;
}

/* Buttons */

.btn-primary{
    background:#2563eb;
    border:none;
}

.btn-primary:hover{
    background:#1d4ed8;
}

/* Cards */

.feature-card{
    border:none;
    transition:0.3s;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.feature-card:hover{
    transform:translateY(-10px);
}

.feature-card i{
    color:#2563eb;
}

/* Stats */

.stats-section{
    background:#0f172a;
    color:white;
    padding:70px 0;
}

.stats-section h2{
    font-size:3rem;
    font-weight:bold;
}

/* Dashboard */

.dashboard-card{
    border:none;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-icon{
    font-size:2rem;
    color:#2563eb;
}

/* Tables */

.table{
    background:white;
    border-radius:15px;
    overflow:hidden;
}

/* Forms */

.form-control{
    border-radius:12px;
}

.form-select{
    border-radius:12px;
}

/* Footer */

.footer{

    margin-top:auto;

    background:#111827;

    color:white;

    padding:30px 0;

    text-align:center;
}

.footer h5{
    color:white;
    font-weight:700;
}

.footer p{
    color:#d1d5db;
}

.footer small{
    color:#9ca3af;
}

/* Mobile */

@media(max-width:768px){

.hero{
    text-align:center;
}

.hero-img{
    margin-top:30px;
}

.stats-section h2{
    font-size:2rem;
}

}
/* Authentication Pages */

.auth-page{
    min-height:100vh;
    background:linear-gradient(
    135deg,
    #eef2ff,
    #f5f3ff,
    #ecfeff
    );
}

/* Login Card */

.login-card{
    border-radius:25px;
}

/* Logo */

.login-logo{
    width:90px;
    height:90px;
    background:linear-gradient(
    135deg,
    #4f46e5,
    #06b6d4
    );
    margin:auto;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:35px;
}

/* Inputs */

.form-control{
    border-radius:12px;
}

/* Forgot Password */

.forgot-link{
    text-decoration:none;
    color:#4f46e5;
    font-weight:600;
}

.forgot-link:hover{
    color:#312e81;
}
/* Register Page */

.register-card{
    border-radius:25px;
}

.register-logo{
    width:90px;
    height:90px;
    background:linear-gradient(
    135deg,
    #7c3aed,
    #06b6d4
    );
    margin:auto;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:35px;
}
/* Why Choose CoinCount */

.feature-list{

    margin-top:20px;

    padding-left:25px;

    font-size:22px;

    line-height:2;
}

.feature-list li{

    color:#1f2937;
}
.action-buttons{

    display:flex;

    justify-content:center;

    gap:8px;
}
/* Profile Page */

.profile-card{

    border-radius:25px;
}

.profile-avatar{

    width:120px;
    height:120px;

    margin:auto;

    border-radius:50%;

    background:linear-gradient(
    135deg,
    #4f46e5,
    #06b6d4
    );

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:50px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.15);
}